# Python
*.pyc
*~
__pycache__

# Env
.env
venv/

# Databaseg
db.sqlite3

# Static folder at project root
/static/
django-serializers-0.6.0/
.idea/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace